.vscode/**
io/**
node_modules/**
src/**
**/*.map
bin/**
sandbox/**
.babelrc
.gitattributes
.gitignore
.prettierignore
.prettierrc
*.code-workspace
babel.config.js
DEV_README.md
package-lock.json
tsconfig.json
tsconfig.test.json
tslint.json
webpack.config.js
out/**
.vscode-test/**
test-projects/**
coverage
newrelic-browser.js